@{
    ViewData["Title"] = "Almacenamiento";
}

<h1>@ViewBag.titulo</h1>
<p>@ViewBag.descripcion</p>

<form>
    <input type="text" required name="input" placeholder="Ingresá el código">
    <button type="submit"></button>
</form>