@{
    ViewData["Title"] = "Index";
}

<h1>@ViewBag.titulo</h1>
<p>@ViewBag.descripcion</p>

<form>
    <input type="text" placeholder="Ingresá tu nombre" required>
    <button type="submit">Enviar</button>
</form>