@{
    ViewData["Title"] = "Caja Registradora";
}

<h1>@ViewBag.titulo</h1>
<p>@ViewBag.descripcion</p>

<form method="post" Action='@Url.Action("IrASala", "Home")'>
    <input autocomplete="off" autofocus type="text" placeholder="Ingresá el código" required name="ans">
    <button type="submit">Enviar</button>
</form>

<h4>@ViewBag.mensaje</h4>