@{
    ViewData["Title"] = "Caja Registradora";
}

<h1>@ViewBag.titulo</h1>
<p>@ViewBag.descripcion</p>

<form>
    <input type="text" placeholder="Ingresá el código" required>
    <button type="submit"></button>
</form>