html {
  font-size: 14px;
  min-height: 100%;
  --color1: #d83546;
  --color2: #024b8d;
  --color3: #f9fafe;
  --color4: #fbc101;
  margin: 0;
  padding: 0;
}

@media (min-width: 768px) {
  html {
    font-size: 16px;
  }
}

body {
  font-family: "Poppins", sans-serif;
  margin: 0;
  padding: 0;
  user-select: none;
}

h1, p, h4{
  color: var(--color3);
  font-weight: bolder;
  margin-block: 0.1%;
  /* margin-left: 0.5%; */
}
p{
  font-size: 1.6rem;
  -webkit-text-stroke: 1px var(--color2);
}
h1{
  font-size: 2.5rem;
  -webkit-text-stroke: 2px var(--color1);
  margin-top: 0;

}
h4{
  color: black;
  font-size: 1.5rem;
  -webkit-text-stroke: 2px var(--color1);
}
a, button{
  outline: none;
}
button[type="submit"] {
  background-color: var(--color1);
  color: var(--color3);
  font-weight: bolder;
  border-radius: 10px;
  width: 5%;
  height: 40px;
  font-size: 1.1rem;
  padding: 0.2%;
  border: 3px solid var(--color3);
  cursor:pointer;
  /* margin-left: 0.5%; */
}
button[type="submit"]:hover{
  background-color: var(--color2);
  border: 3px solid var(--color2);
}
input[type="text"] {
  border: 3px solid var(--color4);
  border-radius: 10px;
  padding: 0.4%;
  font-size: 1rem;
  outline: none;
  /* margin-left: 0.5%; */
}

/* .almacenamiento {
  background-image: url('/images/almacenamiento.png');
  height: 100vh;
  width: 100vw;
  background-size: cover;
  background-repeat: no-repeat;
  background-position: center;
  margin: 0;
  padding: 0;
} */

img{
  height: 100vh;
  width: 100%;
  position: absolute;
}

section{
  position: relative;
  padding-left: 0.5%;
  padding-top: 0.25%;
}

section a{
  /* border: 1px solid black; */
  display: inline-block;
  position: relative;
  cursor: default;
}
.mantenimiento a{
  height: 80px;
  width: 75px;
  top: 365px;
  left: 860px;
}
.heladeras a{
  /* border: 5px solid black; */
  height: 390px;
  width: 850px;
  top: 290px;
  left: 850px;
}

.index{
  text-align: center;
  height: 50%;
  padding-top: 15%;
  padding-bottom: 25%;
  margin-left: 0;
}
.index button{
  /* padding: 0.5%; */
  width: 12%;
  font-size: 1.7rem;
  height: auto;
}

.verduleria a{
  height: 65px;
  width: 150px;
  top: 280px;
  left: 5px;
}

.llave a{
  /* border: 5px solid whitesmoke; */
  height: 45px;
  width: 55px;
  top: 665px;
  left: 580px;
}

.cajaAbierta a{
  height: 255px;
  width: 300px;
  top: 135px;
  left: 1068px;
}

.escape button[type="submit"] {
  background-color: var(--color1);
  color: var(--color3);
  font-weight: bolder;
  border-radius: 10px;
  width: 8%;
  height: 40px;
  font-size: 1.1rem;
  padding: 0.2%;
  border: 3px solid var(--color3);
  cursor:pointer;
  /* margin-left: 0.5%; */
}
.escape button[type="submit"]:hover{
  background-color: var(--color2);
  border: 3px solid var(--color2);
}

.termica div button{
  /* border: 5px solid white; */
  background: none;
  border: none;
  height: 50px;
  width: 100px;
  margin-left: 15%;
  margin-bottom: 10%;
}
.termica div{
  width: 300px;
  position: fixed;
  top: 232px;
  left: 630px;
}

.termica ul{
  position: fixed;
  top: 305px;
  left: 1147px;
  font-size: x-large;
}

.termica h5{
  position: fixed;
  top: 550px;
  left: 775px;
  font-size: x-large;
}
.termica h4{
  position: fixed;
  top: 650px;
  left: 665px;
}